
/* HEADER */

.header {
    display: grid;
    /*размер минимального содержимого будет по центру т.к. фракции забирают себе одинковое количество свободного места*/
    grid-template-columns: 1.5fr min-content 1.5fr; 
    align-items: center;
    padding: 94px 51px 94px 52px;
}

.header__menu-list {
    display: flex;
    gap: 32px;
}

.header__menu-item {
    list-style: circle;
}

.header__menu-item-no-bullit {
    list-style: none;
}

.header__menu-link {
    color: #000;
    font-weight: normal;
    font-size: 18px;
    line-height: 21.13px;
    text-underline-position: under;
}

.header__menu-link-active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px; 
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}


.address {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    text-underline-position: under;
}

.header__address {
    justify-self: end;
}

/* COVER */

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 132px;
    min-height: 757px;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 60%;
    background-color: #000;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 173px 50px 0;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    padding: 0 50px 50px;
}

.cover__description-text {
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px #fff solid;
    padding: 12px 31px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 25.83px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

/* LOTS */

.lots {
    padding: 179px 24px 146px;
}

.lots__heading {
    margin-left: 40px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 27px 0px 30px 0;
    list-style: none;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-position: center bottom;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card__title {
    z-index: 1;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    z-index: 1;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    font-size: 20px;
    line-height: 23.48px;
    margin-left: 40px;
    text-underline-position: under;
}

.about {
    padding: 0 24px 178px;
}

.footer {
    padding: 0 50px 91px;
}